
 .cover {
    /* background: #1D2123; */
} 

*{
padding: 5px;
font-family: 'Quicksand', sans-serif;
}

.top-nav{
    display: flex;
    justify-content: flex-start;
}

.sec1{
    display: grid;
    justify-content: space-between;
}

.second-nav{
    width: 52px;
    height: 230px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    background-color: #1A1E1F;
}
.second-nav img,svg{
position: relative;
width: 30px;
height: 45px;
gap: 20px;
left: 6px;
top: 25px;
}

.third-nav{
    position: relative;
    top: 13px;
    width: 52px;
    height: 127px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    background-color: #1A1E1F;
}
.third-nav img{
    position: relative;
width: 30px;
height: 45px;
gap: 20px;
left: 6px;
top: 25px;
}

.my-image{
    position: relative;
    z-index: 9999;
    width: 686px;
    height: 373px;
    background: #609EAF;
    border-radius: 40px;
}


.cover-pic{
position: absolute;
width: 380.67px;
height: 382px;
left: 323px;
top: -4px;
}

.ripple{
    height: 380px;
    animation-name: spin;
    animation-duration: 2s;
    top: 0;
    position: absolute;
     left: 25%;
}

@keyframes spin {
    from{
        left:-10%;
        
    }
    to{
        left: 23%;
        
        
    }
}



.sec1{
    display: flex;
}

.carde{
    overflow-y: hidden;
    cursor: grab;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    left: 30px;
    width: 87%;
}
.scrollmenu{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.scrollmenu div{
    margin-right: 5px;
}

.playlist{
display: flex;
position: relative;
width: 417px;
height: 96px;
/* dark-alt */
background: #1A1E1F;
border-radius: 20px;
}

.playlist2{
    display: flex;
position: relative;
width: 417px;
height: 96px;
left: 0px;
top: 10px;

/* dark-alt */
background: #1A1E1F;
border-radius: 20px;
}

.playlist3{
    display: flex;
    position: relative;
    width: 417px;
    height: 96px;
    left: 0px;
    top: 20px;
    
    /* dark-alt */
    
    background: #1A1E1F;
    border-radius: 20px;
    }

.text-section h3{
    position: absolute;
    width: 180px;
height: 20px;
top: 17px;

/* Regular/17px */

font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 120%;
/* or 20px */


color: #FFFFFF;

}

.heart{
position: absolute;
left: 10.42%;
right: 10.43%;
top: 12.5%;
bottom: 12.51%;
/* secondary */
border-radius: 50%;
box-sizing: border-box;
position: absolute;
width: 37px;
height: 37px;
left: 359px;
top: 30px;
border: 1px solid rgba(255, 255, 255, 0.11);

}

.text-section{
    display: block;
}
.text-section h4{
    position:relative;
    width: 100px;
    height: 14px;
    top: 32px;
    
    /* Regular/12px */
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    
    color: rgba(255, 255, 255, 0.5);
}
.text-section h5{
    
position: absolute;
width: 37px;
height: 14px;
left: 94px;
top: 63px;
/* Regular/12px */
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
/* or 14px */
color: #FFFFFF;
}

.text-rel{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.text-rel h6{
    height: 14px;
    left: 45px;
    /* Regular/12px */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* or 14px */
    color: #FFFFFF;
}

.text-rel h3{
    position: relative;
    height: 42px;
    top: 40px;
    /* Bold/35px */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    /* identical to box height, or 42px */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.text-rel h4{
    position: relative;
    top: 30px;
    width: 276px;
    height: 51px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* or 17px */
    color: #FFFFFF;
    /* Inside auto layout */
}

.text-rel-images{
display: flex;  
}


.rel-images{
    /* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 64px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;




/* Ellipse 6 */
/* 
width: 20px;
height: 20px;

background: url(.png);
filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.38));

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0; */

}


.second-mg{
    
width: 40px;
height: 40px;

background: url(.png);
filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.1));

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px -9px;
}

.third-mg{
    
width: 20px;
height: 20px;

background: url(.png);
filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.38));

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px -9px;

}

.fourth-mg{
    width: 40px;
height: 40px;

background: url(.png);
filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.38));
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px -9px;
}

.fifth-mg{
    width: 20px;
height: 20px;

background: url(.png);
filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.38));

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px -9px;
}